REMOTE_SELENIUM = True
DEBUG = True
PRODUCTION = False
ALLOWED_HOSTS = '*'
DB_ENGINE = 'django.db.backends.mysql'
DB_NAME = 'mysqldb'
DB_USER = ''
DB_PASSWORD = ''
DB_HOST = ''
DB_PORT = '3066'
DSC_USERNAME = ''
DSC_EMAIL_ADDRESS = ''
DSC_EMAIL_PASSWORD = ''
DSC_EMAIL_HOST = ''
