<html>
<head>
    <title>Map</title>
    <style>
body {
  margin: 0px;
  padding: 0px;
}

#map {
  height: 100%;
  width: 100%;
  background-color: grey;
}
    </style>
</head>
<body>
<div id="map"></div>
<script type="text/javascript">
function initMap() {
  //var center = {lat: -1.233982000061532, lng: 116.83728437200422};
  var center = { {{ settings.MAPS_CENTER }} };
  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 5.5,
    center: center
  });
  //var marker = new google.maps.Marker({
  //  position: center,
  //  map: map
  //});

  var locations = [
  {% for bo in backone %}
['{{ bo.name }}', {{ bo.geolocation }}, '{{ bo.connection_status }}', {{ bo.connection_type.id }}],
  {% endfor %}
   ];

  var infowindow =  new google.maps.InfoWindow({});
  var marker, count;
  for (count = 0; count < locations.length; count++) {
    marker = new google.maps.Marker({
      position: new google.maps.LatLng(locations[count][1], locations[count][2]),
      map: map,
      title: locations[count][0]
    });
  google.maps.event.addListener(marker, 'click', (function (marker, count) {
      return function () {
        infowindow.setContent(locations[count][0]);
        infowindow.open(map, marker);
      }
    })(marker, count));

    if (locations[count][3] == 'LIVE') {
        if (locations[count][4] == 1) {
            marker.setIcon('https://maps.google.com/mapfiles/ms/icons/green-dot.png');
        } else {
            marker.setIcon('https://maps.google.com/mapfiles/ms/icons/yellow-dot.png');
        }
    } else {
      marker.setIcon('https://maps.google.com/mapfiles/ms/icons/red-dot.png');
    }
  }
}

</script>
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key={{ settings.GOOGLE_MAPS_API_KEY }}&callback=initMap">
</script>
</body>
</html>